.wrapper
  %h1
    = "Houseデータのグラフ"
  .wrapper__guide
    -# = "インポートしたHouseデータ（csv）のグラフを表示します"
    = "House_dataとdatasetをインポートしてグラフを表示します"

  -# .wrapper__chart
  -#   .wrapper__chart__first
  -#     = high_chart("my_chart2", @chart2)
  -#   .wrapper__chart__second
  -#     = high_chart("my_chart3", @chart3)

  .wrapper__import
    .wrapper__import__house
      .wrapper__import__house__guide
        = "① Houseデータを選択してインポートしてください"
      .wrapper__import__house__button
        = form_tag import_houses_path, multipart: true do
          = file_field_tag :file
          = submit_tag "インポート"
      .wrapper__import__house__guide2
        = "※ データのヘッダーは次の通り: ( Firstname,Lastname,City,num_of_people,has_child )"
    -# .wrapper__import__production
    -#   .wrapper__import__production__guide
    -#     = "グラフ表示させEnergyProductionデータを選択してインポートしてください"
    -#   .wrapper__import__production__button
    -#     = form_tag import_productions_path, multipart: true do
    -#       = file_field_tag :file
    -#       = submit_tag "インポート"

  -# %table.wrapper__table
  -#   %thead
  -#     %tr
  -#       %th
  -#         ID
  -#       %th
  -#         FirstName
  -#       %th
  -#         Lastname
  -#       %th
  -#         City
  -#       %th
  -#         num_of_people
  -#       %th
  -#         has_child
  -#   %tbody
  -#     - @houses.each do |house|
  -#       %tr
  -#         %td
  -#           = house.id
  -#         %td
  -#           = house.first_name
  -#         %td
  -#           = house.last_name
  -#         %td
  -#           = house.city
  -#         %td
  -#           = house.num_of_people
  -#         %td
  -#           = house.has_child
